.hero-section {
  width: 100%;
  height: 700px;
  background-image: url('/images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 1rem 8rem;
}

.head-text {
  width: 435px;
  max-width: 90vw;
  margin: auto 0;
}

.hero-paragraph {
  color: #0b3b3c;
  font-size: 18px;
  line-height: 2.2rem;
}

.head-text h1 {
  font-size: 90px;
  color: #0b3b3c;
  margin: 1rem 0;
}

.main {
  max-width: 1680px;
  width: 100vw;
  margin: 0 auto;
}

.btn {
  width: 156px;
  height: 45px;
  background: #7e0707;
  padding: 15px;
  border: none;
  color: #fff;
  font-size: 0.8rem;
}

.btn:hover {
  background: #9b0b0b;
  transition: background 0.8s;
}

.help-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8rem;
  background-color: #fff;
}

.help-item {
  display: flex;
  width: 65%;
  margin: 0 auto 5rem auto;
}

.help-item-image {
  margin-right: 150px;
  z-index: 1;
}

.image-reverse {
  margin-left: 150px;
  margin-right: 0;
}

.help-section h2 {
  width: 100%;
  color: #0b3b3c;
  text-align: center;
  font-size: 40px;
  line-height: 60px;
}

.help-item-title {
  color: #6d8a83;
  margin: 0;
  font-size: 14px;
  z-index: 1;
}

.help-item-text {
  color: #0b3b3c;
  width: 372px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.help-item-text h3 {
  font-size: 28px;
  margin-top: 12px;
  margin-bottom: 1rem;
  z-index: 1;
}

.help-item-desc {
  font-size: 18px;
  z-index: 1;
}

.bg-text {
  position: absolute;
  font-size: 30rem;
  color: #f3f7f4;
  z-index: 0;
  left: -230px;
  margin: 0;
}

.bg-text-reverse {
  left: 40px;
  z-index: 0;
}

.row-reverse {
  flex-direction: row-reverse;
}

/* Mobile styles */

@media (max-width: 568px) {
  .bg-text,
  .bg-text-reverse {
    font-size: 18rem;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .hero-section {
    padding: 1rem;
    height: fit-content;
  }

  .help-section {
    padding: 0;
  }

  .help-section h2 {
    font-size: 28px;
  }

  .head-text {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .head-text h1 {
    font-size: 60px;
  }

  .help-item {
    margin: 0;
    width: 100%;
    flex-direction: column;
  }

  .help-item-image,
  .image-reverse {
    margin: 0 auto;
    width: 300px;
    height: 400px;
  }

  .help-item-text {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 18px auto;
  }

  .help-item-text h3 {
    font-size: 26px;
  }
}

@media (max-width: 320px) {
  .bg-text,
  .bg-text-reverse {
    font-size: 16em;
  }
}

@media (min-width: 569px) and (max-width: 1024px) {
  .help-item-image,
  .image-reverse {
    margin: 0 auto;
    width: 260px;
    height: auto;
  }

  .bg-text {
    font-size: 14em;
    left: -45px;
  }

  .bg-text-reverse {
    left: 45px;
  }

  .help-item {
    width: 100%;
  }

  .bg-text {
    font-size: 22em;
    left: -100px;
  }

  .bg-text-reverse {
    left: 95px;
  }
}

@media (min-width: 569px) and (max-width: 812px) and (orientation: landscape) {
  .help-item-image,
  .image-reverse {
    margin: 0 auto;
    width: 260px;
    height: auto;
  }

  .help-item-image {
    margin-right: 20px;
  }

  .image-reverse {
    margin-left: 20px;
  }

  .bg-text {
    font-size: 14em;
    left: -45px;
  }

  .bg-text-reverse {
    left: 45px;
  }

  .help-item-desc {
    font-size: 14px;
  }

  .help-item-text h3 {
    font-size: 20px;
  }
}
