.footer {
  background: #e8efe9;
  padding: 3rem 8rem 1rem 8rem;
}

.copy {
  color: #6d8a83;
  font-size: 16px;
  border-top: 1px solid #bdcdc5;
  padding: 5px 0;
  text-align: center;
  margin: 3rem 0 0 0;
}

.title {
  color: #0b3b3c;
  font-weight: 700;
  font-size: 10px;
}

.nav-section a {
  font-size: 16px;
  line-height: 30px;
  color: #0b3b3c;
  display: block;
  margin-bottom: 20px;
  font-weight: 100;
}

.nav-section a:hover {
  text-decoration: underline;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
.nav {
  width: 60%;
}

.social {
  flex-basis: 120px;
}

.social a {
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.social a:hover {
  border: 1px solid #0b3b3c;
  transition: border 0.3s;
}

/* Mobile styles */

@media (max-width: 768px) {
  .footer {
    padding: 2rem;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    width: 78%;
  }

  .items-wrapper {
    flex-direction: column;
  }

  .symbol-wrapper {
    margin-bottom: 20px;
  }
}

@media (max-width: 812px) and (orientation: landscape) {
  .nav {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }
}
